body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

.highlight {
  color: midnightblue;
}

h1 {
  font-size: 5rem;
  padding-bottom:  30px; 
  padding-top: 5px; 
}

footer {
  text-align: right;
  color: midnightblue;
}

.left, .right {
  padding-bottom: 30px;
}

p{
  padding: 15px;
  text-align: justify;
}

@media (min-width: 600px) {
.card {
  width: 45%; 
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

.left{
  float: left;
}
.right{
  float: right;
}

.h1{
  display: block;
  padding: 30px;
  border-top:30px solid #faf9f6;
  margin-left: 0%;

}

.logo {
  display: block;
  margin-left: 0%;
  padding: 30px;
  padding-left: 0;
}

img{
 
  float: left;
  border: 30px;
  padding: 20px;
}

.card-text{
  padding: 5px;
  text-align: justify;
  max-width: fit-content;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}

/* Styles for phones */
@media (max-width: 600px) {
  
.tile-image {
  height: auto;
  display: block;
  margin-left: 0px;
  width: 100%;;
}

h1{
  font-size: 3rem;
  text-align:center ;
  margin-left: 0%;
}

.logo {
  display: block;
  margin-left: 0%;
  padding: 30px;
  padding-left: 0;
  width: 100%;
  min-height: 80px;
  max-height: 150px;
}
}